<div class="p-5 mx-auto flex flex-col md:flex-row justify-start items-center bg-gradient-to-b from-slate-100 to-slate-200">
  <div class="md:mr-8 md:mb-0 mb-5 text-slate-600 self-auto text-center md:text-left">
    <div class="text-2xl font-bold">Patrick Botman</div>
    <div>Management Portal</div>
  </div>
    <app-nav-bar-link title="Chats" path="/chats"></app-nav-bar-link>
    <app-nav-bar-link title="Custom Gifs" path="/custom-gifs"></app-nav-bar-link>
  <div class=" flex-grow hidden md:flex"></div>
  <div *ngIf="!this.user" class="flex px-4 pt-4 md:pt-0">
    <button title="Sign In" class="font-medium hover:underline hover:cursor-pointer text-slate-900" (click)="login()">Sign In</button>
  </div>
  <div *ngIf="this.user" class="flex-col md:flex-row text-center pt-4 md:pt-0">
    <div *ngIf="this.user.name">{{ this.user.name }}</div>
    <button title="Sign Out" class="font-medium hover:underline hover:cursor-pointer text-slate-900" (click)="logout()">Log out</button>
  </div>
</div>