<div class="flex flex-col box-border bg-slate-50 hover:bg-slate-100 content-center h-full rounded-lg p-3 group ">
    <div class="flex justify-between mb-4 font-light text-slate-600">
        <div>#{{ gif.id }}</div>
        <div *ngIf="gif.sizeKb">Size: {{ gif.sizeKb / 1000 }} mb</div>
    </div>
    <div class="flex-auto" (mouseenter)="onMouseEnter(videoElement)" (mouseout)="onMouseOut(videoElement)"><video #videoElement autoplay loop muted playsinline class="w-full rounded-lg"  alt="" >
        <source src="{{ gif.url }}" type="video/mp4">
    </video></div>
    <div class="self-end mt-2 cursor-pointer" title="Remove from black list" (click)="openModal()"><ng-icon class="text-neutral-500 group-hover:text-black" name="heroTrash"></ng-icon></div>
</div>