
<div id="normal-modal" data-modal-target="normal-modal"
class="p-5 bg-white m-auto max-w-xl w-fit h-fit shadow-lg rounded-lg fixed inset-0 justify-between">
<div class="text-xl font-semibold mb-2">
        Confirm
</div>
<div class="mb-2">
        Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
</div>
<div class="flex justify-end">
    <button class="bg-red-500 py-1 px-4 rounded-md text-white mr-2" data-modal-hide="normal-modal">No</button>
    <button class="bg-green-600 py-1 px-4 rounded-md text-white" data-modal-hide="normal-modal">Yes</button>
</div>
</div>
